#healthbar{
    height: 3lvh;
    width: 20lvw;

    position: absolute;
    top: 10%;
    left: 20%;

    transform: translateX(-50%) translateY(-50%);
}

#health{
    width: inherit;
    height: inherit;

    background-color: #00ff00;
}

#crosshair {
    height: 1lvh;
    aspect-ratio: 1;

    background-color: white;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
}

#abilities {
    position: absolute;
    top: 85%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    height: fit-content;
    width: fit-content;
    display: flex;

    gap: 2lvh;
}

.ability {
    width: 5lvw;
    aspect-ratio: 1;

    background-color: #fff;

    text-align: center;
    align-content: center;
    font-size: 3lvh;
}